# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Pytest
.pytest_cache/
.coverage
htmlcov/

# Environment Variables
.env
.env.local

# Databases
*.sqlite
*.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
